<?xml version="1.0" encoding="UTF-8"?>
<web-app version="1.0">

    <display-name>Mage Servlet</display-name>
    <description>Mage Servlet</description>

    <servlet>
        <description/>
        <display-name>MageServlet</display-name>
        <servlet-name>MageServlet</servlet-name>
        <servlet-class>TechDivision\ServletContainer\Servlets\Legacy\MageServlet</servlet-class>
    </servlet>
 	
    <servlet-mapping>
        <servlet-name>MageServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MageServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MageServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>